root = true

[*]
insert_final_newline = true
end_of_line = lf

[{*.js, *.json, *.staticjs}]
charset = utf-8
trim_trailing_whitespace = true

[{*.js, .staticjs}]
indent_style = tab

[*.json]
indent_style = space
tab_width = 4
