name: Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  run-jest:
    name: Run jest
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2.3.4

      - name: Set up Node.js
        uses: actions/setup-node@v2.1.5
        with:
          node-version: 12

      - name: Cache dependencies
        uses: actions/cache@v2.1.5
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}

      - name: Install Node.js dependencies
        run: npm ci --no-audit

      - name: Run jest
        run: npx jest

      - name: Upload coverage
        uses: codecov/codecov-action@v1
